.password {
   width: 100vw;
   height: 100vh;
   max-width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgb(231, 231, 231);
   position: fixed;
   top: 0%;
   left: 0;
   flex-direction: column;
   gap: 20px;

   h1 {
      padding: 12px;
      border-radius: 4px;
      color: #7451f8;
      background-color: rgba(87, 0, 128, 0.151);
   }
}
